---
layout: default
---

<ul class="post-list">
  {% for post in paginator.posts %}
      {% if post.type == "photo-story" %}
          {% include post-list-photo-story-item.html %}
      {% elsif post.type == "photo-album" %}
          {% include post-list-photo-album-item.html %}
      {% else %}
          {% include post-list-blog-item.html %}
      {% endif %}
  {% endfor %}
</ul>

<br>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
  <span class="previous">Previous</span>
  {% endif %}

  <span class="page_number "> {{ paginator.page }} of {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
  <span class="next ">Next</span>
  {% endif %}
</div>

<br>
<br>