<div>
    <div class="img-section">

        <div id="{{ include.photo1 }}" class="img-container width25">
            <a data-lightbox="site" data-title="{{ include.caption1 }}"></a>
        </div>        
    
        <div class="img-container-vertical-spacer"></div>

        <div id="{{ include.photo2 }}" class="img-container width50">
            <a data-lightbox="site" data-title="{{ include.caption2 }}"></a>
        </div>
        
        <div class="img-container-vertical-spacer"></div>

        <div id="{{ include.photo3 }}" class="img-container width25">
            <a data-lightbox="site" data-title="{{ include.caption3 }}"></a>
        </div>

    </div>

    {% if include.caption %}
        <span class="img-caption">{{ include.caption }}</span>
    {% else %}
        <div class="img-section-spacer"></div>
    {% endif %}

</div>