<div class="img-section">
    <a href="{{ include.photo1 }}" data-lightbox="site" data-title="{{ include.caption1 }}">
        <div class="img-container width60" style="background-image:url('{{ include.photo1 }}')">
        </div>
    </a>
    <a href="{{ include.photo2 }}" data-lightbox="site" data-title="{{ include.caption2 }}">
        <div class="img-container width40" style="float: right; background-image:url('{{ include.photo2 }}')">
        </div>
    </a>
    <span class="img-caption">{{ include.caption }}</span>
</div>
