<div class="img-section">
    <a id="{{ include.photo1 }}" class="img-link" href="" data-lightbox="site" data-title="{{ include.caption1 }}">
        <div class="img-container width50">
        </div>
    </a>
    <a id="{{ include.photo2 }}" class="img-link" href="" data-lightbox="site" data-title="{{ include.caption2 }}">
        <div class="img-container width50" style="float: right">
        </div>
    </a>
    {% if include.caption %}
        <span class="img-caption">{{ include.caption }}</span>
    {% else %}
        <div class="img-section-spacer"></div>
    {% endif %}
</div>