<div class="img-section">
    <a href="{{ include.photo1 }}" data-lightbox="site" data-title="{{ include.caption1 }}">
        <div class="img-container width25" style="background-image:url('{{ include.photo1 }}')">
        </div>
    </a>
    <a href="{{ include.photo2 }}" data-lightbox="site" data-title="{{ include.caption2 }}">
        <div class="img-container width50" style="background-image:url('{{ include.photo2 }}')">
        </div>
    </a>
    <a href="{{ include.photo3 }}" data-lightbox="site" data-title="{{ include.caption3 }}">
        <div class="img-container width25" style="background-image:url('{{ include.photo3 }}')">
        </div>
    </a>
    {% if include.caption %}
    <span class="img-caption">{{ include.caption }}</span>
    {% endif %}
</div>
