<a href="{{ post.url | prepend: site.baseurl }}">
    <li>
        <span class="post-list-title">{{ post.title }}</span>
        <div class="post-list-album-thumbnail-container">
            <div class="post-list-album-thumbnail">
                <img src={{ post.thumbs[0] }}/>
            </div>
            <div class="post-list-album-thumbnail">
                <img src={{ post.thumbs[1] }}/>
            </div>
            <div class="post-list-album-thumbnail">
                <img src={{ post.thumbs[2] }}/>
            </div>
        </div>
    </li>
</a>