body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure { margin: 0; padding: 0; }

body { 
    font-family: $base-font-family; 
    font-size: $base-font-size; 
    line-height: $base-line-height; 
    font-weight: 300; 
    color: $text-color; 
    -webkit-text-size-adjust: 100%; 
}

/* Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm { margin-bottom: $spacing / 2; }

.profile-title { font-size: 34px; color: #000000; }

/*------------------------------
    NAVIGATION
 -----------------------------*/
.navigation li { text-transform: uppercase; color: $grey-color-light; font-weight: bold; font-size: 20px; }

/*------------------------------
    POSTS
 -----------------------------*/
.post-title { 
    color: $grey-color-dark-dark; 
    font-size: 34px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
}
.post-subtitle { 
    color: $grey-color; 
    font-size: 18px; 
    font-weight: 300; 
    line-height: 1; 
}
.post-content { 
    font-family: $post-font-family; 
    color: $grey-color-dark; 
    font-size: 20px; 
    line-height: 35px; 
    font-weight: 300; 
}
.post-content h1, h2, h3, h4, h5, h6 {
    font-family: $base-font-family;
}
.post-content h1 { 
    font-size: 34px; 
}
.post-content h2 { 
    color: lighten($grey-color, 10%); 
    font-size: 28px; 
}
.post-content h3 { 
    font-size: 20px; 
}
.post-content h4 { 
    font-size: 16px; 
}
.post-meta { 
    text-align: right; color: 
    $grey-color; 
    font-size: 20px; 
}
.post-photo-story-day-title { 
    color:#FFFFFF; 
    font-size: 40px; 
    font-weight: bold; 
}
.post-list-title { 
    font-size: 24px; 
    font-weight: 400; 
}
.post-list-subtitle { 
    font-size: 14px; 
    color: $grey-color; 
}
.post-excerpt { 
    line-height: 30px; 
    color: $grey-color-dark; 
}

@include media-query($on-phone) {
    .post-title         { font-size: 28px; }
    .post-subtitle      { font-size: 16px; }
    .post-content       { font-size: 18px; line-height: 30px; }
    .post-content h2    { font-size: 24px; }
    .post-content h3    { font-size: 14px; }
    .post-content h4    { font-size: 12px; }
    .post-meta          { font-size: 16px; }
}

/*------------------------------
    PHOTO STORY
 -----------------------------*/
.img-caption { font-style: italic; font-size: 14px; }

/*------------------------------
    MISC
 -----------------------------*/
img             { max-width: 100%; vertical-align: middle; }
figure > img    { display: block; }
figcaption      { font-size: $small-font-size; }
ul, ol          { margin-left: $spacing; }
li  {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

h1, h2, h3, h4, h5, h6 { font-weight: 300; }

a       { color: $link-color; text-decoration: none; }
a:hover { color: lighten($link-color, 25%); text-decoration: none; }

blockquote { color: $grey-color; border-left: 4px solid $grey-color-light; padding-left: $spacing / 2; font-size: 18px; letter-spacing: -1px; font-style: italic;
    > :last-child {
        margin-bottom: 0;
    }
}

pre, code { font-size: 15px; border: 1px solid $grey-color-light; border-radius: 3px; background-color: #eef; }
code { padding: 1px 5px; }
pre { padding: 8px 12px; overflow-x: scroll;
    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}