/**
 * MAIN CSS
 */
.container {
    padding: 0px;
    margin: 0px;
}


/**
 * Top Container
 */
.top-container {
    border-bottom: 1px solid $grey-color-light-light;
    padding-left: $spacing-unit*5;
    padding-bottom: $spacing-unit/2;
    margin-top: -$spacing-unit/2;
    margin-bottom: $spacing-unit;

    @include media-query($on-phone) {
        padding: 0;
        padding-top: $spacing-unit/2;
        text-align: center;
    }

    .profile-bio {
        font-size: 20px;
        position: relative;
        top: 7px;

        @include media-query($on-phone) {
            font-size: 14px;
            display: block;
            width: 100%;
            margin-bottom: $spacing-unit/2;
        }
    }

    .profile-img {
        width: 50px;
        margin-right: 20px;

        @include media-query($on-phone) {
            width: 75px;
            margin-right: 0;
            margin-bottom: $spacing-unit / 2;
        }
    }

    .navigation {
        float: right;
        padding-right: $spacing-unit*3;
        padding-top: $spacing-unit/2;  

        @include media-query($on-phone) {
            float: none;
            padding: 0;
            margin-bottom: $spacing-unit/2;
        }
    }

    .navigation li {
        display: inline-block;
        margin-left: $spacing-unit;
        margin-right: $spacing-unit;

        @include media-query($on-phone) {
            margin: 0;
            padding-left: $spacing-unit / 2;
            padding-right: $spacing-unit / 2;
        }
    }
}

/**
 * Bottom Container
 */
.bottom-container {
   
}

/**
 * Left Container
 */

$left-container-width: 200px;
.left-container {
    float: left;
    padding-left: $spacing-unit;
    width: $left-container-width;
    padding-right: $spacing-unit;
    padding-top: $spacing-unit * 2;
    padding-bottom: $spacing-unit * 2;

    @include media-query($on-phone) {
        float: none;
        padding: 0;
        text-align: center;
        width: 100%;
    }

    .profile-bio {
        display: block;
        width: 100%;
        margin-bottom: $spacing-unit;
        
        @include media-query($on-phone) {
            margin-bottom: 0;
        }
    }

    .profile-img {
        margin-bottom: $spacing-unit;
    
        @include media-query($on-phone) {
            margin-bottom: $spacing-unit / 2;
            width: 75px;
        }
    }

    .navigation {
        margin-top: $spacing-unit;

        @include media-query($on-phone) {
            margin: $spacing-unit / 2;
        }
    }

    .navigation li {
        margin-bottom: 5px;

        @include media-query($on-phone) {
            display: inline-block;
            margin: 0;
            padding-left: $spacing-unit / 2;
            padding-right: $spacing-unit / 2;
        }
    }
}

.profile-img {
    border-radius: 5px;

    &:hover {
        opacity: .8;
        filter: alpha(opacity=80);
    }
}

.profile-bio {
    color: $grey-color-dark;
    font-size: 14px;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    color: $grey-color-light;
    font-weight: bold;
}

.network-container {
    margin-top: $spacing-unit;

    @include media-query($on-phone) {
        margin-top: $spacing-unit / 2;
    }
}

.network {
    > svg {
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
        width: 24px;
        height: 24px;
        vertical-align: middle;

        path {
            fill: $grey-color-light;
        }

        &:hover {
            path {
                fill: $grey-color-dark;
            }
        }
    }

    @include media-query($on-phone) {
        margin-left: $spacing-unit / 2;
        margin-right: $spacing-unit / 2;
    }
}

.rss-subscribe {
    @include media-query($on-phone) {
        visibility: hidden;
        height: 0;
    }
}

/**
 * Right Container
 */

.right-container {
    padding-top: $spacing-unit;
    margin-left: $left-container-width + $spacing-unit * 2;
    border-left: 1px solid;
    border-left-color: $grey-color-light-light;

    @include media-query($on-phone) {
        padding: 0;
        margin: 0;
        border: 0;
        border-top: 1px solid;
        border-top-color: $grey-color-light-light;
    }
}

.post-list {
    list-style: none;

    margin-left: $spacing-unit;
    margin-right: $spacing-unit;

    @include media-query($on-phone) {
        margin-left: 0;
        margin-right: 0;
    }

    & li {
        padding: $spacing-unit;
        margin-bottom: $spacing-unit / 2;

        &:hover {
            background-color: lighten($grey-color, 46%);
        }
    }
}


$photo-list-story-height: 200px;
.post-list-photo-story {
    background-size: cover;
    background-position: center center;
    opacity: .8;
    height: $photo-list-story-height;

    .post-list-title {
        color: #FFFFFF;
        position: relative;
        bottom: $photo-list-story-height;
    }

    .post-list-subtitle {
        color: #CCCCCC;
        position: relative;
        bottom: $photo-list-story-height;
    }
}

.post-list-photo-story-overlay {
    height: $photo-list-story-height + $spacing-unit*2;
    background-color: #000000;
    opacity: 0.6;

    margin: -$spacing-unit;

    &:hover {
        opacity: 0.2;
    }
}

.post-list-title {
    font-size: 24px;
    font-weight: 400;
}

.post-excerpt {
    line-height: 30px;
    color: $grey-color-dark;
}

/**
 * Posts
 */
$post-content-padding: $spacing-unit*6;
.post {
    display: block;
    max-width: 800px;
    margin: 0 auto;
    padding-left: $post-content-padding;
    padding-right: $post-content-padding;

    @include media-query($on-phone) {
        padding-left: $spacing-unit;
        padding-right: $spacing-unit;
    }
 }

.post-header {
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit;
}

.post-title {
    color: $grey-color-dark-dark;
    font-size: 34px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-phone) {
        font-size: 28px;
    }
}

.post-subtitle {
    color: $grey-color;
    font-size: 18px;
    font-weight: 300;
    line-height: 1;

    @include media-query($on-phone) {
        font-size: 16px;
    }
}


.post-meta {
    text-align: right;
    color: $grey-color;
    font-size: 20px;

    @include media-query($on-phone) {
        font-size: 16px;
    }
}

.post-content {
    color: $grey-color-dark-dark;
    font-size: 20px;
    line-height: 40px;
    font-weight: 300;

    margin-bottom: $spacing-unit;

    @include media-query($on-phone) {
        font-size: 18px;
        line-height: 30px;
    }

    h2 {
        font-size: 32px;

        @include media-query($on-phone) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 20px;

        @include media-query($on-phone) {
            font-size: 14px;
        }
    }

    h4 {
        font-size: 16px;

        @include media-query($on-phone) {
            font-size: 12px;
        }
    }

    p {
        margin-bottom: $spacing-unit;
    }
}

.center {
    display: block;
    margin:0 auto;
}

.img-caption {
    display: block;
    padding: 0;
    padding-top: 15px;
    margin: 0 auto;
    text-align: center;
    font-style: italic;
    font-size: 14px;
}

.pagination {
    margin-top: $spacing-unit;
    padding-left: $spacing-unit;
}


/**
 * About
 */

$about-logo-width: 100px;
$about-logo-width-smaller: 50px;

.about {
    padding-top: $spacing-unit;
    padding-left: $spacing-unit * 2;
    padding-right: $spacing-unit * 2;

    @include media-query($on-phone) {
        padding-left: $spacing-unit;
        padding-right: $spacing-unit;
    }
}

.about .container {
    margin-bottom: $spacing-unit * 3;
}

.about .logo {
    float: left;
    width: $about-logo-width;

    @include media-query($on-phone) {
        width: $about-logo-width-smaller;
    }
}

.about .description-container {
    margin-left: $about-logo-width + $spacing-unit * 2;

    @include media-query($on-phone) {
        margin-left: 0; /*$about-logo-width;*/

        & h1 {
            margin-left: $about-logo-width;
        }
    }
}











/**
 * Site header
 */
.site-header {
    border-bottom: 1px solid $grey-color-dark-dark;
    padding-top: 90px;
    text-align: center;
    background-color: $grey-color-dark;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-family: $header-font-family;
    font-weight: bold;
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;

    &,
    &:visited {
        color: $grey-color-light;
    }
    &:hover {
        text-decoration: none;
        color: #FFFFFF;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-phone) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    font-family: $footer-font-family;
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-phone) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}




