/*------------------------------
    MAIN
 -----------------------------*/
.container { padding: 0; margin: 0; }
.body_container { padding: 0; margin: 0; }

/*------------------------------
    LEFT CONTAINER
 -----------------------------*/
$left-container-width: 230px;
.left-container { 
    top: 0; left: 0; position: fixed; width: $left-container-width; height: 100%; padding: ($spacing-unit) ($spacing-unit) 0 ($spacing-unit);
    text-align: right; background-color: #f1f1f1; border-right: 1px solid $grey-color-light-light;
}
.navigation { margin-top: $spacing-unit/2; 
    li { margin-bottom: 5px; }
    ul { list-style: none; padding: 0; margin: 0; }
}
.network-container { margin-top: $spacing-unit; }
.network { padding: 0; margin: 0 0 0 10px;
    svg { display: inline-block; vertical-align: middle; text-align: right;
        path { fill: $grey-color-light; }

        &:hover {
            path { fill: $grey-color-dark; }
        }
    }
}

@include media-query($on-phone) {
    .left-container { position: static; width: 100%; height: auto; margin: 0; padding: $spacing-unit 0 0 0;
        text-align: center; border: 0; border-bottom: 1px solid $grey-color-light-light;
    }
    .navigation {
        li { display: inline-block; margin: 0; padding: 0 ($spacing-unit/2) 0 ($spacing-unit/2); }
    }
    .network-container { margin-top: $spacing-unit / 2; }
    .network { margin: 0 ($spacing-unit/2) 0 ($spacing-unit/2); }
    .rss-subscribe { visibility: hidden; height: 0; }
}

/*------------------------------
    RIGHT CONTAINER
 -----------------------------*/
.right-container {
    padding-top: $spacing-unit;
    margin-left: $left-container-width + $spacing-unit * 2;

    @include media-query($on-phone) {
        padding: 0;
        margin: 0;
    }
}

.post-list {
    max-width: 1000px;
    list-style: none;
    margin-left: $spacing-unit * 2;
    margin-right: $spacing-unit;

    @include media-query($on-phone) {
        margin-left: 0;
        margin-right: 0;
    }

    & li {

        padding: $spacing-unit;
        margin-bottom: $spacing-unit / 4;

        &:hover {
            background-color: lighten($grey-color, 46%);
        }
    }
}

$photo-list-story-height: 200px;
.post-list-photo-story {
    background-size: cover;
    background-position: center center;
    opacity: .8;
    height: $photo-list-story-height;

    .post-list-title {
        color: #FFFFFF;
        position: relative;
        bottom: $photo-list-story-height;
    }

    .post-list-subtitle {
        color: #CCCCCC;
        position: relative;
        bottom: $photo-list-story-height;
    }
}

.post-list-photo-story-overlay {
    height: $photo-list-story-height + $spacing-unit*2;
    background-color: #000000;
    opacity: 0.6;

    margin: -$spacing-unit;

    &:hover {
        opacity: 0.2;
    }
}

.post-list-title {
    font-size: 24px;
    font-weight: 400;
}

.post-excerpt {
    line-height: 30px;
    color: $grey-color-dark;
}

/*------------------------------
    POSTS
 -----------------------------*/
$post-content-padding: $spacing-unit*6;
.post { display: block; margin: 0 auto;
    h1, h2, h3, h4, h5, h6 { padding: 0 ($post-content-padding) 0 ($post-content-padding); }
    p { padding: 0 ($post-content-padding) 0 ($post-content-padding); margin-bottom: $spacing-unit; }
    blockquote { 
        margin: 0 0 ($spacing-unit) ($post-content-padding);
        h1, h2, h3, h4, h5, h6 { padding-left: 0; }
        p { padding-left: 0; }
    }
    table { padding: 0 ($post-content-padding) 0 ($post-content-padding); }
}
.post-header { margin: ($spacing-unit) 0 ($spacing-unit) 0; }
.post-subtitle { padding: 0 ($post-content-padding) 0 ($post-content-padding); }
.post-content { margin-bottom: $spacing-unit; }
.post-photo-story-day-overlay { height: 100%; background-color: #000000; opacity: 0.2; 
    &:hover { opacity: 0.0; }
}
.post-photo-story-day-title { position: absolute; bottom: 20px; right: 20px; }

@include media-query($on-phone) {
    .post { 
        padding:0 ($spacing-unit) 0 ($spacing-unit);
        h1, h2, h3, h4, h5, h6 { padding: 0; }
        p { padding: 0; }
        blockquote { margin-left: 0 };
    }
    .post-subtitle { padding:0; }
}

/*------------------------------
    OTHER
 -----------------------------*/
.center { display: block; margin:0 auto; }
.pagination { max-width: 1000px; text-align: right; margin: $spacing-unit 0 0 $spacing-unit*2; }
#disqus_thread { max-width: 800px; margin: $spacing-unit*2 auto; padding: ($spacing-unit*2) ($spacing-unit) 0 ($spacing-unit); border-top: 1px solid #DDDDDD; }

@include media-query($on-phone) {
    .pagination { text-align: center; margin: $spacing-unit 0 0 0; }
}