/**
 * MAIN CSS
 */
.container {
    padding: 0px;
    margin: 0px;
}

.body_container {
    padding: 0;
    margin: 0;
}

/**
 * Left Container
 */

$left-container-width: 230px;
.left-container {
    top: 0;
    left: 0;
    position: fixed;
    width: $left-container-width;
    height: 100%;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
    padding-top: $spacing-unit;
    
    text-align: right;

    background-color: #f1f1f1;
    border-right: 1px solid;
    border-right-color: $grey-color-light-light;

    @include media-query($on-phone) {
        position: static;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        padding-top: $spacing-unit;
        text-align: center;

        border: 0;
        border-bottom: 1px solid;
        border-bottom-color: $grey-color-light-light;
    }

    .navigation {
        margin-top: $spacing-unit/2;
    }

    .navigation li {
        margin-bottom: 5px;

        @include media-query($on-phone) {
            display: inline-block;
            margin: 0;
            padding-left: $spacing-unit / 2;
            padding-right: $spacing-unit / 2;
        }
    }
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.network-container {
    margin-top: $spacing-unit;

    @include media-query($on-phone) {
        margin-top: $spacing-unit / 2;
    }
}

.network {
    padding: 0;
    margin-left: 10px;
    margin-right: 0px;

    > svg {
        display: inline-block;
        vertical-align: middle;
        text-align: right;

        path {
            fill: $grey-color-light;
        }

        &:hover {
            path {
                fill: $grey-color-dark;
            }
        }
    }

    @include media-query($on-phone) {
        margin-left: $spacing-unit / 2;
        margin-right: $spacing-unit / 2;
    }
}

.rss-subscribe {
    @include media-query($on-phone) {
        visibility: hidden;
        height: 0;
    }
}

/**
 * Right Container
 */
.right-container {
    padding-top: $spacing-unit;
    margin-left: $left-container-width + $spacing-unit * 2;

    @include media-query($on-phone) {
        padding: 0;
        margin: 0;
    }
}

.post-list {
    max-width: 1000px;
    list-style: none;
    margin-left: $spacing-unit * 2;
    margin-right: $spacing-unit;

    @include media-query($on-phone) {
        margin-left: 0;
        margin-right: 0;
    }

    & li {

        padding: $spacing-unit;
        margin-bottom: $spacing-unit / 4;

        &:hover {
            background-color: lighten($grey-color, 46%);
        }
    }
}

$photo-list-story-height: 200px;
.post-list-photo-story {
    background-size: cover;
    background-position: center center;
    opacity: .8;
    height: $photo-list-story-height;

    .post-list-title {
        color: #FFFFFF;
        position: relative;
        bottom: $photo-list-story-height;
    }

    .post-list-subtitle {
        color: #CCCCCC;
        position: relative;
        bottom: $photo-list-story-height;
    }
}

.post-list-photo-story-overlay {
    height: $photo-list-story-height + $spacing-unit*2;
    background-color: #000000;
    opacity: 0.6;

    margin: -$spacing-unit;

    &:hover {
        opacity: 0.2;
    }
}

.post-list-title {
    font-size: 24px;
    font-weight: 400;
}

.post-excerpt {
    line-height: 30px;
    color: $grey-color-dark;
}

/**
 * Posts
 */
$post-content-padding: $spacing-unit*6;
.post {
    display: block;
    max-width: 800px;
    margin: 0 auto;
    padding-left: $post-content-padding;
    padding-right: $post-content-padding;

    @include media-query($on-phone) {
        padding-left: $spacing-unit;
        padding-right: $spacing-unit;
    }
 }

.post-header {
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit;
}

.post-title {
    color: $grey-color-dark-dark;
    font-size: 34px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-phone) {
        font-size: 28px;
    }
}

.post-subtitle {
    color: $grey-color;
    font-size: 18px;
    font-weight: 300;
    line-height: 1;

    @include media-query($on-phone) {
        font-size: 16px;
    }
}


.post-meta {
    text-align: right;
    color: $grey-color;
    font-size: 20px;

    @include media-query($on-phone) {
        font-size: 16px;
    }
}

.post-content {
    color: $grey-color-dark-dark;
    font-size: 20px;
    line-height: 40px;
    font-weight: 300;

    margin-bottom: $spacing-unit;

    @include media-query($on-phone) {
        font-size: 18px;
        line-height: 30px;
    }

    h2 {
        font-size: 32px;

        @include media-query($on-phone) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 20px;

        @include media-query($on-phone) {
            font-size: 14px;
        }
    }

    h4 {
        font-size: 16px;

        @include media-query($on-phone) {
            font-size: 12px;
        }
    }

    p {
        margin-bottom: $spacing-unit;
    }

    blockquote {
        margin-bottom: $spacing-unit;
    }
}

.center {
    display: block;
    margin:0 auto;
}

.img-caption {
    display: block;
    padding: 0;
    padding-top: 15px;
    margin: 0 auto;
    text-align: center;
    font-style: italic;
    font-size: 14px;
}

.pagination {
    text-align: right;
    margin-top: $spacing-unit;
    padding-right: $spacing-unit;
}

#disqus_thread {
    max-width: 800px;
    margin: $spacing-unit*2 auto;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
    padding-top: $spacing-unit*2;
    border-top: 1px solid #DDDDDD;
}