$about-logo-width: 100px;
$about-logo-width-smaller: 50px;
.about                      { min-width: 800px; overflow: hidden; padding: ($spacing) ($spacing*2) 0 ($spacing*2); }
.about-content-container    { float: left; width: 60%; margin-right: $spacing * 3; }
.about-section-container    { margin-bottom: $spacing * 2; }
.about-profile-img          { width: 100%; }

.bio-container ul {  list-style: none; padding: 0; margin: 0; }
.bio-container li { margin-bottom: 20px; }

.todo-container h2 { padding: 0; }
.todo-container ul { list-style: none; padding: 0; margin: 0; }
.todo-container li { margin-bottom: 20px; }
    
.job-container { margin-bottom: $spacing * 2; }
.job-container .logo { float: left; width: $about-logo-width; }
.job-container .description-container { margin-left: $about-logo-width + $spacing; }

@include media-query($on-tablet) {
    .about                      { min-width: 0; padding: ($spacing) ($spacing) 0 ($spacing*2); }
    .about-content-container    { float: none; width: 100%; margin: 0; }
    .about-section-container    { margin-bottom: $spacing; max-width: 550px; }

    .job-container                              { margin-bottom: $spacing; }
    .job-container .logo                        { width: $about-logo-width-smaller; }
    .job-container .description-container       { margin-left: $about-logo-width-smaller + $spacing; }
    .job-container .description-container h1    { margin-left: $about-logo-width; }
}
@include media-query($on-phone) {
    .about { min-width: 0; padding: ($spacing) ($spacing) 0 ($spacing); }
}