/*------------------------------
    PHOTO STORY
 -----------------------------*/
$image-spacing-unit: 15px;
.img-section                   { display: table; padding: 0; margin: 0px ($post-content-padding/2) 0px ($post-content-padding/2); }
.img-section-100               { display: block; padding: 0; margin: 0px ($post-content-padding/2) 0px ($post-content-padding/2); }
.img-section-fullscreen        { display: block; margin: 0; }
.img-container                 { display: table-cell; height: 300px; padding: 0; overflow: hidden; 
                                 background-size: cover; background-position: center center; background-color: $grey-color-light-light; }
.img-container a               { display: block; width: 100%; height: 100%; }
.img-container-vertical-spacer { width: $image-spacing-unit; }
.img-section-spacer            { display: block; width: 100%; height: $image-spacing-unit; }
.img-section-divider           { width: 100px; height: 1px; margin: $spacing-unit*2 auto; background-color: $grey-color-light-light; }
.img-caption                   { display: block; padding: 0; margin: 0px ($post-content-padding/2) 0px ($post-content-padding/2); 
                                 text-align: center; }
.heightTall                    { height: 650px; }

@include media-query($on-phone) { 
    .img-section                    { display: block; margin: 0; }
    .img-section-100                { display: block; margin: 0; }
    .img-container                  { display: block; height: 200px; }
    .img-container-vertical-spacer  { display: block; width: 100%; height: $image-spacing-unit; }
    .img-section-divider            { margin: $spacing-unit auto; }
    .img-caption                    { margin: 0; }
    .heightTall                     { height: 350px; }
}

.width20 { width: 20%; @include media-query($on-phone) { width: 100%; } }
.width25 { width: 25%; @include media-query($on-phone) { width: 100%; } }
.width33 { width: 33%; @include media-query($on-phone) { width: 100%; } }
.width40 { width: 40%; @include media-query($on-phone) { width: 100%; } }
.width50 { width: 50%; @include media-query($on-phone) { width: 100%; } }
.width60 { width: 60%; @include media-query($on-phone) { width: 100%; } }
.width80 { width: 80%; @include media-query($on-phone) { width: 100%; } }
.width100 { display: block; width: 100%; height: auto; }