.img-section {
    margin-left: -$post-content-padding/2;
    margin-right: -$post-content-padding/2;

    @include media-query($on-phone) {
        margin-left: 0;
        margin-right: 0;
    }
}

.img-section-fullscreen {
    margin-left: -$post-content-padding;
    margin-right: -$post-content-padding;

    @include media-query($on-phone) {
        margin-left: 0;
        margin-right: 0;
    }
}

.img-section-divider {
    width: 100px;
    height: 1px;
    margin: $spacing-unit*2 auto;
    background-color: $grey-color-light-light;

    @include media-query($on-phone) {
        margin: $spacing-unit auto;
    }
}

.img-section-spacer {
    display: block;
    width: 100%;
    height: 15px;
}


/**
 *
 */
.img-container {
    display: inline-block;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    padding: 0;
    margin-bottom: -15px;
    background-color: $grey-color-light-light;
    
    height: 300px;

    @include media-query($on-phone) {
        height: 200px;
        margin-bottom: 5px;
    }
}

.img-caption {
    display: inline-block;
    width: 100%;
    margin-top: -15px;
    margin-left: auto;
    margin-right: auto;
}

.heightTall {
    height: 650px;

    @include media-query($on-phone) {
        height: 350px;
    }
}

/**
 * |[_] [_]|
 */
.width50 {
    width: 49.5%;

    @include media-query($on-phone) {
        width: 100%;
    }
}

/**
 * |[___] [_]|
 * thumb: Medium 640
 * fullsize: Large 1600
 */
.width40 {
    width: 39.25%;

    @include media-query($on-phone) {
        width: 100%;
    }
}

.width60 {
    width: 59.5%;

    @include media-query($on-phone) {
        width: 100%;
    }
}

/**
 * |[_] [___] [_]|
 * thumb: Medium 640
 * fullsize: Large 1600
 */
.width25 {
    width: 24.75%;

    @include media-query($on-phone) {
        width: 100%;
    }
}

/**
 * |[_] [__] [__]|
 * thumb: Medium 640
 * fullsize: Large 1600
 */
.width20 {
    width: 19.5%;

    @include media-query($on-phone) {
        width: 100%;
    }
}

.width80 {
    width: 79.5%;

    @include media-query($on-phone) {
        width: 100%;
    }
}
